**/.env
.idea
*.iml
**/docs/*
**/output/*
nohup.out
**/.DS_Store
# Ignore pycache
__pycache__
**/__pycache__

# Ignore any file with "secret" in the name
*secret*
*token*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Ignore local db
**/*db/*
88/chroma*
